.antlr
.Rhistory
__pycache__/
.DS_Store
graph.gv
graph.gv.pdf
*.log
.venv
venv/*
.idea
*.pickle
.vscode

.env/
KDE/
KDE_command_analysis/
graph_dots/
graph_dots_final/
koffice-plugins/
venv/
graph_dots
KDE
.vscode
1
graph_dots_final
.env


