.antlr
.Rhistory
__pycache__/
.DS_Store
graph.gv
graph.gv.pdf
*.log
.venv/
venv/
.idea/
*.pickle
.vscode
build/

venv
.env/
KDE/
KDE_command_analysis/
graph_dots/
graph_dots
graph_dots/*
graph_dots_final/
koffice-plugins/
graphs/

.env/
KDE/
KDE_command_analysis/
graph_dots/
graph_dots_final/
koffice-plugins/
venv/
.arm_venv/

*.egg-info